#app {
  font-family: sans;
  display: grid;
  grid-template-columns: 50% 50%;
}

#inputs {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1px;
}

#inputs > * {
  outline: 1px solid black;
  padding: .5em;
}

input {
  font-size: 100%;
}

#chart svg {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

#chart circle, #chart text {
  stroke: none;
}

#chart .limits {
  stroke: red;
  stroke-width: 4;
}