body {
  font-family: sans;
}

#calculator {
  display: grid;
  justify-content: center;
  align-items: center;
}
#calculator > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background: lightgray;
  justify-content: space-evenly;
}

#logo {
  flex-grow: 0;
  flex-shrink: 1;
  height: 100px;
  width: auto;
}

#inputs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.gridRow {
  display: contents;
}

.bold {
  font-weight: bold;
}

.gridRow > * {
  outline: 1px solid black;
  padding: .5em;
}

.background > * {
  background: #eee;
}

svg#chart {
  max-height: 50vh;
  fill: none;
  stroke: lightgray;
  stroke-width: 1;
}

#chart circle, #chart text {
  stroke: none;
}

#chart text {
  font-size: 3px;
  font-weight: bold;
}

#chart .limits {
  stroke: red;
  stroke-width: 1;
}

#chart .fuelUsage {
  stroke: purple;
  stroke-width: .5;
}

input {
  font-size: 100%;
  margin: 0;
  font-weight: bold;
}

input:out-of-range {
  background: #e00;
  color: white;
}

#summary{
  padding: 1em;
  font-size: 120%;
  display: flex;
  gap: 2em;
  justify-content: center;
}

@media screen {
  #calculator {
    grid-template-columns: 60% 40%;
  }
  body {
    font-size: 15px;
  }
}

@media print {
  #calculator {
    grid-template-rows: 50% 50%;
  }
  body {
    font-size: 12px;
  }
}
