body {
  font-family: sans;
}

header {
  background: lightgray;
}

#inputs {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1px;
}

.gridRow {
  display: contents;
}

.bold {
  font-weight: bold;
}

.gridRow > * {
  outline: 1px solid black;
  padding: .5em;
}

#chart svg {
  fill: none;
  stroke: lightgray;
  stroke-width: 1;
}

#chart circle, #chart text {
  stroke: none;
}

#chart text {
  font-weight: bold;
}

#chart .limits {
  stroke: red;
  stroke-width: 2;
}

input {
  font-size: 100%;
  margin: 0;
}

@media screen {
  #calculator {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

#chart {
  padding: 3em;
}
@media print {
}
